.container
  .row
    %h1 All users
  .row
    = link_to 'New User', new_user_path
  .row
    %table.table-striped.table-bordered.table-sm#data-table
      %thead
        %tr
          %th Last Updated
          %th Name
          %th Email
          %th Title
          %th Phone Number
          %th Status
          %th Actions

      %tbody
        - @users.each do |user|
          %tr
            %td= last_updated(user)
            %td= user.name
            %td= user.email
            %td= user.title
            %td= user.phone
            %td{status_color(user)}= user.status
            %td
              = link_to 'Edit', edit_user_path(user)
              = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%script(src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
%script(src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')
%style(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css')
%style(src='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css')
%script= render 'table.js'
